@media (max-width: 768px) {
    body {
        padding-left: 16px;
        padding-right: 16px;
    }

    html {
        scroll-behavior: smooth;
    }

    
                /* Navigation */
                /* Navigation */
 
 .nav-button a {
     color: #000000 !important;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     display: block;
 }

 .nav-button {
    display: flex;
     /* Show the menu on mobile */
  }

  .btn-cv {
    display: block; /* Show the CV button on mobile */
  }

  .nav-button {
    display: none; /* Hide menu by default on mobile */
    position: absolute;
    top: 60px;
    margin-left: 300px;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
  }

  .nav-button a {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

  nav .hamburger {
    display: flex;
    padding: 15px;
    width: 34px;
    height: 34px;
 }

 
 .btn-cv {
    display: none;
     /* Layout */
     width: 160px;
     height: 56px;
     /* Typography */
     color: #000;
     text-align: center;
     font-family: Poppins;
     font-size: 10px;
     font-style: normal;
     font-weight: 500;
     line-height: 150%;
     
     background: #FFF;
     padding: 16px 24px;
     border-width: 2px;
     border-radius: 12px;
     border-style:  solid;
     border-color: var(--primary);
 }
 
 .btn-cv a {
    color: #000000 !important;
 }
 
 .btn-cv:hover {
     cursor: pointer;
 }
 
                      /* END OF NAVIGATION */
 
 
                     /* Hero section */
                     /* Hero section */
 
 .hero{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 10px;
 }

 #bio-container-text {order: 2;}
 #bio-container-img {order: 1;}

 #bio-container-text {
    justify-content: center;
 }
 
 .hero h1{
    color: #132238;
    font-family: "Work Sans";
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 49.42px; 
 }
 
 .hero .bio-container{
    margin-top: 10px;
 }
 
 .hero .name {
     color: var(--primary);
 }
 
 .hero .bio {
    color: #556070;
    font-family: Poppins;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    }
 
 .hero img{
    width: 357px;
    height: 476px;
 }
 
 .button {
     margin-top: 24px;
     /* display: flex; */
     padding: 8px 17px;
     justify-content: center;
     align-items: center;
     border-radius: 4px;
     background: var(--primary);
 
     width: 137px;
     height: 35px;
 
     color: #FFF;
     /* text-align: center; */
     font-family: Poppins;
     font-size: 12.06px;
     font-style: normal;
     font-weight: 600;
     line-height: 17.029px;
 }
 
                 /* End of hero section */
 
 
                 /* Achievements */
                 /* Achievements */
 
 #achievements{
     display: flex;
     /* flex-direction: column; */
     justify-content: center;
     margin-top: 15px ;
     gap: 28px;
 }

 #achievements .satisfied-clients {
     display: flex;
     text-align: center;
     flex-direction: column;
     justify-content: center;
 }
 
 #achievements .satisfied-clients h2 {
    color: var(--primary-color, #5D18B0);
    font-family: Poppins;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.049px;
     margin-bottom: 10px;
 }
 
 #achievements .satisfied-clients p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.362px;
 }
 
 #achievements .projects {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
 }

 #achievements .projects h2 {
    color: var(--primary-color, #5D18B0);
    font-family: Poppins;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.049px;
     margin-bottom: 10px;
 }
 
 #achievements .projects p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.362px;
 }
 
 #achievements .reviews {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
 }

 #achievements .reviews h2 {
    color: var(--primary-color, #5D18B0);
    font-family: Poppins;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.049px;
     margin-bottom: 10px;
 }
 
 #achievements .reviews p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.362px;
 }
 
                     /* End of achievement */
 
                 /* Skills */
                 /* Skills */
 
 #skills-section {
     margin-top: 30px ;
     background: rgba(246, 238, 255, 0.50);
     padding: 53px 0px;
     /* padding-top: 53px;
     padding-bottom: 53px; */
 
 }
 
 #skills-section .skills {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 #skills-section .skills h2 {
     align-items: center;
     color: var(--primary);
     font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 17.829px;
 }
 
 #skills-section .skills p {
     color: #000;
     text-align: center;
     font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 17.829px; 
 }
 
 #skills-section .skillset {
    
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     margin-top: 30px;
     padding-left: 30px;
     padding-right: 30px;
 }

 .skillset img {
    padding: 0px 10px;
    width: 215px;
    height: 245px;
}
 
 #skills-section .skillsetbuttons {
     display: flex;
     justify-content: center;
     margin-top: 30px;
     
 }
 
 #skills-section .skillsetbuttons .hire {
    display: inline-flex;
    padding: 9.338px 18.676px;
    justify-content: center;
    align-items: center;
    gap: 9.338px;
 
     border-radius: 4px;
     border: 2px solid var(--primary);
     margin-right: 59px;
 
     color: #000;

    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.676px;
     }
 
 #skills-section .skillsetbuttons .cv {
    display: inline-flex;
    padding: 9.338px 18.676px;
    justify-content: center;
    align-items: center;
    gap: 9.338px;
 
     border-radius: 4px;
     background: #5D18B0;
     color: #FFF;
 
     font-family: Poppins;
     font-size: 12px;
     font-style: normal;
     font-weight: 600;
     line-height: 18.676px;
 }
 
                     /* End of skills section */
 
                 /* Project Section */
                 /* Project Section */
 
 #projectsection .projects {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 50px;
 }
 
 #projectsection .projects h2 {
     color: var(--primary);
     text-align: center;
     font-family: Poppins;
     font-size: 22px;
     font-style: normal;
     font-weight: 600;
     line-height: 17.771px
 }
 
 #projectsection .projects p {
     color: #000;
     text-align: center;
     font-family: Poppins;
     font-size: 11px;
     font-style: normal;
     font-weight: 300;
     line-height: 17.771px;
 }
 
 #projectsection .projectcontent {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     gap: 50px;
     margin-top: 30px;
     padding-left: 50px;
     padding-right: 50px;
 }
 
 #projectsection .projectcontent img {
    width: 260px;
    height: 310px;
    
 }

                 /* End of project section */
 
                     /* Testimonial */
                     /* Testimonial */
 
 #testimonial-section {
     margin-top: 50px ;
     background: rgba(246, 238, 255, 0.50);
     /* padding: 53px 0px ; */
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }
 
 #testimonial-section .testimonial { 
     color: var(--primary);
     text-align: center;
     font-family: Poppins;
     font-size: 22px;
     font-style: normal;
     font-weight: 600;
     line-height: 14.86px;
 }
 
 #testimonial-section .subheading {
     margin-top: 30px;
     color: #000;
     text-align: center;
     font-family: Poppins;
     font-size: 11px;
     font-style: normal;
     font-weight: 300;
     line-height: 14.86px;
 }
 
 #testimonial-section .textbody {
     margin-top: 35px;
     color: var(--primary-color, #5D18B0);
     text-align: center;
     font-family: Poppins;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: 14.86px;
 }
 
 #testimonial-section .reviewername{
     margin-top: 35px;
     color: #000;
     text-align: center;
     font-family: Poppins;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: 14.86px;
 }
 
 #testimonial-section .reviewertitle {
     margin-top: 15px;
     color: #000;
     text-align: center;
     font-family: Poppins;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     line-height: 14.86px;
 }
 
                     /* End of Testimonial */
 
 
                 /* Contact Section */
                 /* Contact Section */
 
 #contactsection .contact {
     margin-top: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }
 
 #contactsection .contact h2 {
     color: var(--primary-color, #5D18B0);
     text-align: center;
     font-family: Poppins;
     font-size: 22px;
     font-style: normal;
     font-weight: 600;
     line-height: 19.29px;
 }
 
 #contactsection .contact p {
     margin-top: 30px;
     color: #000;
     text-align: center;
     font-family: Poppins;
     font-size: 11px;
     font-style: normal;
     font-weight: 300;
     line-height: 19.29px;
 }
 
 #contactsection .forms {
     margin-top: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
 }
 
 #contactsection .forms input {
     border-radius: 4px;
     border: 0.3px solid #BEC0BF;
     background: var(--Light-Base-Color-White, #FFF);
     width: 165px;
     height: 27px;

 }
 
 
 #contactsection textarea {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 24px;
     border-radius: 4px;
     border: 0.3px solid #BEC0BF;
     background: var(--Light-Base-Color-White, #FFF);
     width: 343px;
     height: 82px;
 }
 
 
 ::placeholder {
     padding-left: 24px;
     color: var(--Light-Text-Color-Body-1, #92929D);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15px */
    letter-spacing: 0.08px;
 }
 
 #contactsection .submit {
     margin-top: 24px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     padding: 11.027px 22.054px;
     justify-content: center;
     align-items: center;
     gap: 11.027px;
     border-radius: 4px;
     background: #5D18B0;
     justify-items: center;
 
     color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.054px; 
 }
 
 .contactinfo {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 10px;
     margin-top: 74px;
 }
 
 
 .contactinfo .email {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 24px;
 }
 
 .contactinfo h2 {
     color: #000;
     font-family: Poppins;
     font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: 0.088px;
     }
 
 .contactinfo img {
     padding: 8px;
     background-color: var(--primary);
     border-radius: 4px;
     width: 36px;
     height: 36px;


 }
 
 .contactinfo .linkedin{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 24px;
 }
 
 .footer {
     display: flex;
     justify-content: center;
     margin-top: 100px;
     padding-top: 20px;
     padding-bottom: 20px;
     background: rgba(246, 238, 255, 0.50);
 
     color: #000;
     font-family: Poppins;
     font-size: 7px;
     font-style: normal;
     font-weight: 400;
     line-height: 16px;
 }
    
}
